
  
  .first {
    display: flex;
    gap: 1rem;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .name {
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  
  .title {
    background-color: black;
    color: white;
    border-radius: 5px;
  }