.temperature-variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.temperature-container {
    border: 1px solid black;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: lightgray;
}

.temperature-title {
    color: rgb(28, 116, 199);
}

.temperature-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}
