.timer-container {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}

.timer-title {
    color: rgb(28, 116, 199)
}

.timer-display {
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: right;
    font-size: x-large;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    width: 15rem;
}

.timer-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}