.Calculator {
    border: 2px solid black;
    display: inline-block;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    width: 500px;
    padding: 20px;
}

.Calculator-display {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgba(113, 124, 141, 0.685);
    text-align: right;
    font-size: 60px;
    border-radius: 15px;
    color: azure;
    border: none;
}

.Calculator-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    gap: 20px; 
}

.Calculator-button {
    width: 85px; 
    height: 85px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    background-color: #3e3e3e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator-clear {
    background-color: #a93d63;
    color: white;
}

.Calculator-operator {
    background-color: #59647e;
}

.Calculator-calculate {
    background-color: #24395e;
}

.Calculator-num {
    background-color: #4b4b4b;
}
